<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  # serve existing files/directories directly
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]
  # otherwise route everything to index.php
  RewriteRule ^ index.php [QSA,L]
</IfModule>
